<div class="navbar-wagon sticky">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="#product" class="navbar-wagon-item navbar-wagon-link">Product</a>
    <a href="#items" class="navbar-wagon-item navbar-wagon-link">Models</a>
    <a href="#services" class="navbar-wagon-item navbar-wagon-link">Services</a>
    <a href="#company" class="navbar-wagon-item navbar-wagon-link">Company</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <i class="fas fa-bars" data-toggle="dropdown" role="button"></i>
        <% if customer_signed_in? %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Order history</a></li>
            <li><a href="#">Invoice history</a></li>
            <li><%= link_to "Sign out", destroy_customer_session_path, :method => :delete %></li>
          </ul>
        <% else %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#SignInModal">Sign in</a></li>
            <li><a href="#" data-toggle="modal" data-target="#RegisterModal">Register</a></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-hidden="true">
    <%= render 'shared/signin_form_modal' %>
  </div>

  <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <%= render 'shared/register_form_modal' %>
  </div>
</div>
