.roll{
  width: 100vw;
}

.roll-chapter{
  height: 80vh;
  width: 80vw;
}

#qtp-about{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roll h2{
  font-size: 24px;
}
