.roll{
  width: 100vw;
}

.roll-chapter{
  height: 95vh;
  width: 80vw;
}

.center-pos{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-pos{
  text-align: center;
}

.roll h2{
  font-size: 24px;
}

#product {
  color: white;
}
